
#leftCol
{
    width: 635px;
    height: 100%;
    float: left;
    display: block;
    
    background-color: red;
}

#turnLeft_button
{
    width: 100px;
    height: 100%;
    position: absolute;
    
    cursor: pointer;
    background-color: yellow;
    top: 0px;
    left: 0px;   
}
#turnRight_button
{
    width: 100px;
    height: 100%;
    position: absolute;
    
    cursor: pointer;
    background-color: yellow;
    top: 0px;
    right: 0px;
}


#cardsArea_container
{
    height: 400px;
    top:    80px;
    position: relative;
    background-color: gray;
    overflow: hidden;
}

#cardsArea
{
    width: 100%;
    height: 400px;
    left: 15px;
    top:    0px;
    position: relative; 
    z-index: 1;
    pointer-events: none;
}

#rightCol
{
    width: 190px;
    height: 100%;
    float: left;
    display: block;
    
    
    background-color: green;
   
    overflow-y: scroll;

}



/**/

.card_container
{
    width: 150px;
    height: 200px;
    display: block;
    float: left;
    
}
.card_img
{
    pointer-events: all;
    width: 150px;
    height: 200px;
    /*margin-top: 50px;*/
    /*margin-bottom: 50px;*/
    /*margin-left: 25px;*/
    /*margin-right: 25px;*/
    
    background-size:contain;
    background-repeat:no-repeat;
    background-position:center;    
}

#filtersArea
{
    position: absolute;
    bottom: 50px;
    left: 40px;
}

.mana_cost
{
    float: left;
    display: block;
    margin-right: 20px;
    background-image: url("../imgs/general/mana.png");
}
#cost_plus
{
    float: left;
    display: block;
}

.selectorTab
{
    width: 50px;
    height: 30px;
    border-left: 1px solid black;
    border-top: 1px solid black;
    border-right: 1px solid black;
    background-color: aquamarine;
    
    float: left;
    position: relative;
    top:50px;
    
}
#classSelector_container
{
    position: absolute;
    float: left;
}