.cards_bg {
    background-image: url('../imgs/cards/cardsBackground.png');
}

#leftCol
{
    width: 635px;
    left: 100px;
    float: left;
    height: 100%;
    display: block;
    background-color: transparent;
}

#turnLeft_button
{
    width: 100px;
    height: 100%;
    position: absolute;
    
    cursor: pointer;
    background-color: yellow;
    top: 0px;
    left: 0px;   
}
#turnRight_button
{
    width: 100px;
    height: 100%;
    position: absolute;
    
    cursor: pointer;
    background-color: yellow;
    top: 0px;
    right: 0px;
}


#cardsArea_container
{
    height: 400px;
    top:    80px;
    position: relative;
    background-color: gray;
    overflow: hidden;
}

#cardsArea
{
    width: 100%;
    height: 400px;
    left: 15px;
    top:    0px;
    position: relative; 
    z-index: 1;
    pointer-events: none;
}

#rightCol
{
    height: 100%;
    margin-left: 735px;
    display: block;
    border: 3px solid green;
    overflow-y: scroll;
}

.card_thumbail
{
    width: 241px;
    height: 27px;
}

/**/

.card_container
{
    width: 150px;
    height: 200px;
    display: block;
    float: left;
    
}
.card_img
{
    pointer-events: all;
    width: 150px;
    height: 200px;
    /*margin-top: 50px;*/
    /*margin-bottom: 50px;*/
    /*margin-left: 25px;*/
    /*margin-right: 25px;*/
    
    background-size:contain;
    background-repeat:no-repeat;
    background-position:center;   
}

#filtersArea
{
    top: 80px;
    left: 40px;
    overflow: auto;
}

.mana_cost
{
    display: inline-block;
    width: 30px;
    height: 30px;
    line-height: 30px;
    margin-left: -5px;
    background-image: url("../imgs/general/mana.png");
    background-size: contain;
    cursor: pointer;
    text-align: center;
}

.mana_cost:first-child {
    margin-left: 0;
    background-image: none;
}

#cost_plus
{
    background-image: none;
    display: none;
}

#searchBar {
    color: black;
}

textarea#text_filter {
    resize: none;
    padding: 0;
    margin: 0;
    border: none;
}

.selectorTab
{
    width: 50px;
    height: 30px;
    border-left: 1px solid black;
    border-top: 1px solid black;
    border-right: 1px solid black;
    background-color: aquamarine;
    float: left;
    
}

#classSelector_container
{
    overflow: auto;
    top: 80px;
}