#cardControl_cardsArea
{
    width: 376px;
    height: 607px;
    background: url("../imgs/control/controlBackground.png");
    background-size: contain;
    display: block;
}

#cardControl_thumbnails
{
    width: 160px;
    height: 500px;
    top: 64px;
    left: 100px;
    overflow-y: scroll;
    display: block;
}

#cardControl_buttons
{
    position: absolute;
    width: 150px;
    bottom: 13px;
    left: 110px;
    overflow: auto;
}

#cardControl_cardNumber
{
    float: left;
}

#cardControl_back
{
    float: right;
    right: 8px;
}

.cardOn
{
}
.cardOff
{
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  filter: grayscale(100%);
  filter: url(grayscale.svg); /* Firefox 4+ */
  filter: gray; /* IE 6-9 */
  color: gray;
}