/* 
    Document   : general
    Created on : 02/03/2014, 02:14:42
    Author     : Marcelo
    Description:
        This stylesheet has the purpouse of styling anything that is not speficic to only one part of the web app.
*/

/* Hearthstone text font */
@font-face
{
    font-family: "Belwe Bd BT";
    src: url("../fonts/Belwe_Bd_BT.ttf");
}

*{    
    font-family: "Belwe Bd BT";
    color: white;
    font-size: 12px;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    
    margin: 0;
    padding: 0;
    
    -webkit-user-select: none; /* Chrome/Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+ */
    -khtml-user-select: none;
    
    /* Rules below not implemented in browsers yet */
    -o-user-select: none;
    user-select: none;
    
    /*Change box-model*/
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    
}

body, html
{
   overflow: hidden;
   background: #181208;

   color: #fff;
   height: 100%;

   padding: 0;
   margin: 0;
   cursor: url('../imgs/general/cursor.png') ,auto;
}

div {
    position: relative;

}


.clear {
    clear: both;
}


.card_thumbail
{
    width: 241px;
    height: 27px;
}

#frame {
  background: url("../imgs/general/bg_frame.png");
  width: 1206px;
  height: 700px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -603px;
  margin-top: -350px;
  background-size: contain;
}

.wrapper {
    width: 1024px;
    height: 608px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -512px;
    margin-top: -304px;
    overflow: auto;
    background-size: contain;

}

/* @media rule */
/*@media (min-width: 1024px) {
  #frame {
    width: 1530px;
    height: 888px;
    margin-left: -765px;
    margin-top: -444px;
  }

  .wrapper {
    width: 1366px;
    height: 820px;
    margin-left: -683px;
    margin-top: -410px;
  }
}*/